<h1 class="nunito"><span class="green">Play</span> with your <span class="blue">Friends</span> and <span class="yellow">have </span><span class="red">Fun!</span></h1>

<ul>
    <li><b>UNBIASED DICE </b>: Have an authentic experience, play strategically and may randomness be in your favour xD.</li>
    <li><b>MULTIPLE MODES </b>: Either play a classic game or a mini game. Mini game has a smaller board, so if you’re short on time, pick that! </li>
    <li><b>OFFLINE or ONLINE </b>: Play online with your friends, or play locally. </li>
    <li><b>VOICE and TEXT CHAT </b>: Speak with each other or text while playing, as ifthey are present with you!</li>
</ul>


<button matRipple (click)="getStarted()" class="getStarted-btn">Get Started <img src="../../../assets/right.svg" alt="right arrow"> </button>