<header class="dialogHeader">
    <h1>Invite Players</h1>
    <img (click)="closeDialog()" class="close-btn" src="assets/red-cross.svg" alt="close">
</header>

<section class="search">
    <img src="assets/search.svg" alt="search">
    <input #searchbar (keyup)="searchByPlayerName(searchbar)" type="text" name="searchbar" placeholder="Search by Player Name" id="searchbar">
</section>

<section class="playercontainer">
    <div *ngFor="let userid of Object.keys(idlePlayers)" class="player">
        <span class="name">{{idlePlayers[userid].username}}</span>
        <button *ngIf="!idlePlayers[userid].invited" (click)="invite(userid)" matRipple>INVITE</button>
        <span *ngIf="idlePlayers[userid].invited" class="invited">INVITED</span>
    </div>
</section>