@use "colors";

.container{
    width: 1200px;
    margin: 0px auto;
}

footer{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
    font-weight: 700;
    z-index: -1;

    a{
        text-decoration: none;
        color:colors.$black;
    }
}

@media only screen and (max-width: 1199px){
    .container{
        width: 90%;
    }
}

@media only screen and (max-width: 767px){
    .container{
        width: 95%;
    }
}