/* 
    COLOR SASS FILE
    Import this file in other .scss files to use these variable values.
    Add more colors or global Sass mixins, functions etc to use them in other
    files.

    NOTE: Import by using @use(filepath) as Namespace
*/

$black : #333333;
$darkgray : #4F4F4F;
$gray: #828282;
$lightgray: #BDBDBD;
$verylightgray: #E0E0E0;

$lightred: #ffd0d0;
$red : #EB5757;
$orange: #F2994A;
$lightyellow: #ffefc1;
$yellow: #F2C94C;

$darkgreen: #219653;
$green: #27AE60;
$lightgreen: #afffd0;

$blue: #2d55da;
$dullblue: #2D9CDB;
$lightblue: #cdf3ff;

$purple: #9B51E0;
$lightpurple: #BB6BD9;


$verydarkblue: #0A64CD;
$verydarkyellow: #CEA12C;








